/Pretrained/Sent2Vec/
/nltk-data/
/Pretrained/Word2Vec/
/cache/en_nk_graph.cache
/cache/en_py.cache
/cache/en_py.cache.tmp
/cache/en_py_graph.cache
/cache/nl_distance.cache
/cache/nl_milnewitten.cache
/cache/nl_nk_graph.cache
/cache/nl_py.cache
/cache/nl_py.cache.tmp
/cache/nl_py_graph.cache
/Pretrained/use/universal-sentence-encoder-multilingual-large_3/variables/variables.data-00000-of-00001
/Pretrained/use/universal-sentence-encoder-multilingual-large_3/variables/variables.index
/Pretrained/use/universal-sentence-encoder-multilingual-large_3/saved_model.pb
/Pretrained/use/universal-sentence-encoder_4/variables/variables.data-00000-of-00001
/Pretrained/use/universal-sentence-encoder_4/variables/variables.index
/Pretrained/use/universal-sentence-encoder_4/saved_model.pb
/cypherls/nl_words.cypherl
/.idea/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.idea/inspectionProfiles/Project_Default.xml
/.idea/.idea/.gitignore
/.idea/.idea/misc.xml
/.idea/.idea/Model.iml
/.idea/.idea/modules.xml
/.idea/.idea/other.xml
/.idea/.idea/vcs.xml
